.rank-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.rank-text {
  color: white;
}

.rank-number {
  color: white;
  font-size: x-large;
}
